html {
    cursor: url(./img/pointer-light.png), auto;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 229, 214); 
}
button:active {
    cursor: url(./img/pointer-bright.png), auto !important;
}
button:hover {
    cursor: url(./img/pointer-light.png), auto;
}
.calculator-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 8vh;
    align-items: center;
    flex: 0 0 auto;
    width: 400px;
    height: 420px;
    
}
#display {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    width: 390px;
    border: solid;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(169, 180, 130);
    border-top-width: 4px;
    border-top-color: rgb(106, 52, 131);
    border-bottom-width: 1px;
    border-bottom-color: rgb(106, 52, 131);
    border-right-color: rgb(106, 52, 131);
    border-left-color: rgb(106, 52, 131);
    border-right-width: 1px;
    border-left-width: 1px;
}
#display #output {
    margin-right: 20px;
    margin-bottom: -24px;
    font-size: 48px;
    font-family: 'Digital', monospace;
}
@font-face {
        font-family: 'Digital';
        src: url(./font/Digital.ttf);
}
@font-face {
    font-family: 'cute';
    src: url(./font/cute.ttf);
}
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 670px;
    width: 1000px;
    background-image: url(./img/cat-head.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 76px;
    background-size: 780px;
}
.row {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

button.function {
    background-color: rgb(255, 240, 213) !important;
}

button.operator {
    background-color: rgb(221, 192, 255) !important;
}
.row button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 90px;
    height: 60px;
    padding: 0px;
    border-radius: 26px;
    font-size: 32px;
    font-weight:bolder;
    font-family: 'cute';
    color: rgb(67, 38, 87);
    background-color: rgb(255, 207, 207);
}
#row-five #zero {
    width: 193.33px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 40px;
}
#row-five #equal {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 70px;
}

#sad-cat {
    height: 80px;
    width: 80px;
    position: absolute;
    margin-right: 155px;
}

#paw-bottom {
    position: absolute;
    z-index: 10;
    rotate: -80deg;
    height: 500px;
    width: 500px;
    margin-bottom: -1600px;
    margin-left: -300px;
}
#paw-left {
    position: absolute;
    z-index: 10;
    rotate: 30deg;
    height: 500px;
    width: 500px;
    margin-top: -1100px;
    margin-left: -1300px;
}  
